<h1>test</h1>

<div class="main-container container">
  <h1>TITLE</h1>
  <div class="btn-container container">
      <button class="btn btn-primary" name="button" id="btn-presentation">Presentation</button>
      <button class="btn btn-primary" name="button" id="btn-menu">Menu</button>
      <button class="btn btn-primary" name="button" id="btn-divers">Images</button>
  </div>

  <div class="tab-container container">
    <div class="text" id="presentation">
      <p>Adipisicing, ridiculus eos eros architecto hymenaeos minim cillum occaecat hac, varius minim facere habitasse quibusdam temporibus accumsan dictumst, augue similique, etiam, habitant ratione class sociis, eros ante diam? Risus eu. Proin parturient et, fames interdum rhoncus. Cupidatat laboriosam euismod rem? Risus placerat. Orci tempor ac.</p>
    </div>
    <div class="text" id="menu">
      <p>Eligendi etiam hic dolore suspendisse alias, elit eleifend ea adipisicing voluptate felis accusantium illo eaque auctor mauris sociosqu, cubilia quos, velit ullam proin quis donec interdum pharetra quaerat hic, maxime! Esse augue? Maecenas atque nascetur, eaque, omnis litora distinctio placeat nec nostrum anim rutrum vestibulum.</p>
    </div>
    <div class="text" id="images">
      <p>Eligendi etiam hic dolore suspendisse alias, elit eleifend ea adipisicing voluptate felis accusantium illo eaque auctor mauris sociosqu, cubilia quos, velit ullam proin quis donec interdum pharetra quaerat hic, maxime! Esse augue? Maecenas atque nascetur, eaque, omnis litora distinctio placeat nec nostrum anim rutrum vestibulum.</p>
    </div>
  </div>

</div>
