.main-container{
  width: 80%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
}

.main-container, h1{
  margin-bottom: 20px;
}

.btn-container{
  padding-bottom: 30px;
}

.btn-primary{
  width: 150px;
  margin: 10px;
}

#menu{
	text-align: justify;
}

.opacity{
  opacity: 0.3;
}
