.main-container{
  width: 60%;
  text-align: center;
  border: 1px solid grey;
  margin-top: 20px;
}

.btn-container{
  padding-bottom: 30px;
}

.btn-primary{
  width: 150px;
}

#menu{
	text-align: justify;
}